@using KandyCrown.Web.Helpers

@{
    Layout = null;
}

<!-- hero -->
<div class="knd-hero-4 knd-up" id="top">
    <div id="scene" class="knd-hero-scene">
        <div class="hero-container">
            <img src="~/theme/v1/img/shapes/Hero.jpg" alt="Hero" Class="heroimg">
        </div>
        <div class="knd-pad-frame" data-depth="0.35">
            <div class="knd-shape-pad"></div>
        </div>
    </div>
    <div class="knd-overlay"></div>
    <div class="container knd-hero-main knd-relative">
        <div class="knd-hero-text">
         

            <h1 class="knd-display2 knd-rubber">Feel the Heat.<br>Taste the <span class="heritage">Heritage.</span></h1>
            
        </div>
    </div>
</div>
<!-- hero end -->